[submodule "LuxEngine/lib/glfw"]
	path = LuxEngine/lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "LuxEngine/lib/glm"]
	path = LuxEngine/lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "LuxEngine/lib/msdf"]
	path = LuxEngine/lib/msdf
	url = https://github.com/juliushaag/msdf-atlas-gen.git
[submodule "LuxEngine/lib/freetype"]
	path = LuxEngine/lib/freetype
	url = https://github.com/freetype/freetype.git
